{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="h3">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col">
                {{ form_row(registrationForm.nom) }}
            </div>
            <div class="col">
                {{ form_row(registrationForm.prenom) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col">
                {{ form_row(registrationForm.telephone) }}
            </div>
        </div>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-secondary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
