{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <h1 class="h3">Commandes</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ knp_pagination_sortable(orders, 'Créée le', 'o.orderDate') }}</th>
                <th class="text-center">{{ knp_pagination_sortable(orders, 'Montant', 'o.totalAmount') }}</th>
                <th class="text-center">{{ knp_pagination_sortable(orders, 'Statut', 'o.status') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'Payée le', 'o.bankedAt') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'Mis à jour le', 'o.updatedAt') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-center">{{ order.totalAmount }} Ar</td>
                <td class="text-center">{{ order.status }}</td>
                <td>{{ order.bankedAt ? order.bankedAt|date('Y-m-d H:i:s') : '-' }}</td>
                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '-' }}</td>
                <td>
                    <a class="btn btn-sm rounded-cirle btn-info" href="{{ path('app_order_show', {'id': order.id}) }}"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-sm rounded-cirle btn-danger" href="{{ path('app_order_edit', {'id': order.id}) }}"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune commande trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(orders) }}
    
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
    <div>
        <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_order_new') }}">Create new</a>
    </div>
    {% endif %}

{% endblock %}
